body {
    overflow-x: initial !important;
    display: inline-block;
    width: 100% !important;
    height: 100% !important;
}

p {
    word-wrap: break-word;
    font-size: 16px;
}

#root {
    margin-left: 200px;
    margin-right: 200px;
}
